.bgContainer {
  padding-top: 11vh;
  .homeContainer {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 89vh;
    justify-content: space-around;
    align-items: center;
    .leftContainer {
      h3 {
        margin: 0;
        font-family: "Josefin Sans", sans-serif;
        // color: #333333;
        // color: #7A4716;
        // color: #96b27a;
        color: #6aa145;
        font-size: 70px;
        line-height: 110px;
        letter-spacing: 1px;
      }
      @media (max-width: 1050px) {
        h3 {
          font-size: 37px;
          line-height: 70px;
        }
      }

      button {
        padding: 10px 20px;
        margin-top: 10px;
        font-family: "Josefin Sans", sans-serif;
        background-color: transparent;
        color: #000000;
        cursor: pointer;
        outline: none;
        border: 1px solid #444444;
        font-size: 14px;
      }
      button:hover {
        background-color: #96b27a;
        color: #fff;
        transition: all 0.3s;
        border: 1px solid #96b27a;
      }
      h4:before {
        color: #7a4716;
        font-size: 20px;
        padding-top: 20px;
        margin: 0;
        font-family: "Josefin Sans", sans-serif;
        @media (max-width: 1050px) {
          h4 {
            font-size: 20px;
          }
        }
        content: "";
        animation: animate infinite 8s;
      }
      @keyframes animate {
        0% {
          content: "Your Kindness Begins";
        }
        50% {
          content: " Their Struggle Ends";
        }
        100% {
          content: "Your Kindness Begins";
        }
      }
    }
    .rightContainer {
      img {
        height: 400px;
      }
      @media (max-width: 1050px) {
        img {
          margin-top: 0;
          height: 250px;
        }
      }
    }
  }
  @media (max-width: 950px) {
    .homeContainer {
      flex-wrap: wrap;
      // padding-top: 55px;
    }
  }
}
